<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jmu.sudi.dao.DeliverMapper">

    <!-- 根据用户ID查找配送员 -->
    <select id="findDeliverByUserId" resultType="java.lang.Integer">
        select count(0) from sudi_deliver where userId=#{userId}
    </select>

    <!-- 将用户设置为配送员 -->
    <insert id="addDeliver">
        insert into sudi_deliver (deliverId, userId, joinDate)
        values (#{deliverId}, #{userId}, NOW())
    </insert>


</mapper>